<div class="table GRAY">
  <table>
    <thead>
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>计算河段</th>
        <th>计算模型</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
      <tr>
        <td align="center">
          <input type="checkbox">
        </td>
        <td align="center">彭水</td>
        <td align="center">调度规程模拟</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <nz-pagination [nzPageIndex]="1" [nzTotal]="500" nzSize="small"></nz-pagination>
  </div>
</div>
