<div class="table GRAY1">
    <table>
      <thead>
        <tr>
          <th>时间</th>
          <th>入库流量(<font class="m3">m</font>/s)</th>
          <th>库水位(m)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
        <tr>
          <td align="center">2019-01-01</td>
          <td align="center">396</td>
          <td align="center">8658</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <nz-pagination [nzPageIndex]="1" [nzTotal]="500" nzSize="small"></nz-pagination>
    </div>
  </div>
