<!--  ------------------------------------------------------------------------------------------------------------------------  -->
<!-- map -->
<div [hidden]="mapDisabled">
  <!-- 地图 -->
  <app-arkweb></app-arkweb>
  <!-- 地图工具：数据源切换 -->
  <app-arkweb-resource></app-arkweb-resource>
  <!-- 2/3D切换 -->
  <!-- <app-arkweb-switch-to ngType="column"></app-arkweb-switch-to> -->
  <!-- 地图工具：设置透明度 -->
  <app-fix-panel [isLock]="true" style="bottom: -14px; right: 10px; width: 280px;">
    <app-arkweb-opacity></app-arkweb-opacity>
  </app-fix-panel>
  <!-- 自定义地图工具：工具栏 -->
  <app-fix-panel [isLock]="true" style="top:64px; right:0;" [isFixed]="false">
    <!-- <app-map-toolbar></app-map-toolbar> -->
    <app-map-toolbar2></app-map-toolbar2>
  </app-fix-panel>
  <!-- 自定义地图工具：查询栏 -->
  <!-- <app-fix-panel [isLock]="true" style="top:10px; left:10px; width: 380px;" [isFixed]="false">
    <app-map-search></app-map-search>
  </app-fix-panel> -->

  <!--  -->
  <!--  -->
  <!--  -->
  <!--  -->
</div>

<!-- <app-fix-panel title="临时" [isLock]="false" mode="BLUE" style="top: 100px; left: 800px; width: 400px;">
  {{path | json}}
  {{mas}} - {{sub}} - {{mapDisabled}}
</app-fix-panel> -->


<!--  ------------------------------------------------------------------------------------------------------------------------  -->
<!-- page master -->
<ng-container [ngSwitch]="mas">
  <!-- ------------------------------------------------------------------------------------------------------------ -->
  <!-- 首页 -->
  <ng-container *ngSwitchCase="'Home'">
    <app-page-home></app-page-home>
  </ng-container>
  <!-- ------------------------------------------------------------------------------------------------------------ -->
  <!-- 一张图 -->
  <ng-container *ngSwitchCase="'APicture'">
    <app-page-a-picture></app-page-a-picture>
  </ng-container>
  <!-- ------------------------------------------------------------------------------------------------------------ -->
  <!-- 水文预报 -->
  <ng-container *ngSwitchCase="'HydrologicalForecast'">
    <app-page-hydrological-forecast></app-page-hydrological-forecast>
    
  </ng-container>
  <!-- ------------------------------------------------------------------------------------------------------------ -->
  <!-- 防洪调度 -->
  <ng-container *ngSwitchCase="'FloodDispatch'">
    <app-page-flood-dispatch></app-page-flood-dispatch>
    <!--  -->
  </ng-container>
  <!-- ------------------------------------------------------------------------------------------------------------ -->
  
  <!-- ------------------------------------------------------------------------------------------------------------ -->
  <ng-container *ngSwitchDefault>

  </ng-container>
  <!-- ------------------------------------------------------------------------------------------------------------ -->
</ng-container>


<!-- loader -->
<app-spinner></app-spinner>
