<!-- 左侧工具拦 -->
<app-fix-panel [isLock]="true" style="top:86px; left: 16px;" [isFixed]="true">
  <app-toolbar2
    [dataset]="data_toolbar"
    [selected]="viewer"
    (onItemClick)="viewer = viewer === $event.label ? null : $event.label"
  ></app-toolbar2>
</app-fix-panel>

<ng-container [ngSwitch]="viewer">
  <!-- ------------------------------------------- -->
  <ng-container *ngSwitchCase="'降雨预报'">
    <!-- 左侧图例 -->
    <app-fix-panel [isLock]="true" style="left: 16px; bottom: 46px;">
      <app-legend [title]="'图例'" [dataset]="data_legend"></app-legend>
    </app-fix-panel>
    <!-- 右侧图例 -->
    <app-fix-panel [isLock]="true" style="right: 20px; top: 332px;">
      <app-legend [title]="'降雨量'" [dataset]="data_legend2"></app-legend>
    </app-fix-panel>
    <!-- 底部播放栏 -->
    <app-fix-panel [isLock]="true" style="bottom: 48px; left: 240px; right: 240px;">
      <app-control-player2></app-control-player2>
    </app-fix-panel>
    <!-- 天气预报 -->
    <app-fix-panel
      [title]="data_weather.name" mode="BLUE" style="top:275px; left: 26px;" [isFixed]="true">
      <app-weather2></app-weather2>
    </app-fix-panel>
  </ng-container>
  <!-- ------------------------------------------- -->
  <ng-container *ngSwitchCase="'降雨实况'">
    <!-- 左侧图例 -->
    <app-fix-panel [isLock]="true" style="left: 16px; bottom: 46px;">
      <app-legend [title]="'图例'" [dataset]="data_legend"></app-legend>
    </app-fix-panel>
    <!-- 右侧图例 -->
    <app-fix-panel [isLock]="true" style="right: 20px; top: 332px;">
      <app-legend [title]="'降雨量'" [dataset]="data_legend2"></app-legend>
    </app-fix-panel>
  </ng-container>
  <!-- ------------------------------------------- -->
  <ng-container *ngSwitchCase="'河道实况'">
    <!-- 河道实况 -->
    <app-fix-panel title="河道实况" mode="BLUE" style="top:275px; left: 26px;" [isFixed]="true">
      <app-plot-real-river></app-plot-real-river>
    </app-fix-panel>
  </ng-container>
  <!-- ------------------------------------------- -->
  <ng-container *ngSwitchCase="'水库实况'">
    <!-- 水库实况 -->
    <app-fix-panel title="水库实况" mode="BLUE" style="top:275px; left: 26px;" [isFixed]="true">
      <app-plot-real-water></app-plot-real-water>
    </app-fix-panel>
  </ng-container>
  <!-- ------------------------------------------- -->
  <ng-container *ngSwitchCase="false"> </ng-container>
  <ng-container *ngSwitchDefault> </ng-container>
</ng-container>




