<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>起始水位(m)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>最低水位(m)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>流量变幅(m3/s)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>水位变幅(m)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>最大下泄流量(m3/s)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>最高水位(m)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>最低下泄流量(m3/s)</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
</form>