.group-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 8px;
  overflow: auto;
}

.group-font-alarm {
  display: inline-block;
  border-radius: 3px;
  background-color: red;
  color: #fff;
  padding: 0 0.735em;
  line-height: 2em;
}

.group-font-safe {
  display: inline-block;
  border-radius: 3px;
  background-color: orange;
  color: #fff;
  padding: 0 0.735em;
  line-height: 2em;
}

.group-font-info {
  display: inline-block;
  border-radius: 3px;
  background-color: #1890ff;
  color: #fff;
  padding: 0 0.735em;
  line-height: 2em;
}

.group-form-search {
  padding: 4px 8px;

  .ant-btn {
    margin-left: 10px;
  }

  .ant-form-item-label,
  .ant-form-item-control {
    line-height: 2.635em;
  }
}

//

.group-prediction {
  .btns {
    a {
      color: #fff;
      padding: 0.5em;

      i {
        vertical-align: middle;
        font-size: 16px;
        margin-top: -2px;
      }

      &:hover {
        color: #9bf300;
      }
    }
  }
}

//
.group-weather {
  .group-weather-container {
    border-bottom: 1px dashed rgba($color: #fff, $alpha: 0.2);
    display: block;
    padding: 8px 0 8px 76px;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    .group-weather-container-title {
      position: absolute;
      font-size: 16px;
      top: 50%;
      left: 32px;
      transform: translate(-50%, -50%);
    }

    .group-weather-container-content {
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
      position: relative;
      flex: 1;

      a {
        position: relative;
        display: block;
        color: #fff;

        height: 142px;
        // width: 80px;
        padding: 5px;
        text-align: center;

        span {
          display: block;
        }

        .week {
        }

        .datetime {
          color: #999;
        }

        .image {
          width: 32px;
          height: 32px;
        }

        .weather {
        }

        .temperature {
          display: none;
        }

        .temperature1 {
        }

        .wind {
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 132px;
        width: 1px;
        // background-color: red;
        background-position: -471px -397px;
      }

      // &:first-child {
      //   display: block;
      //   border-bottom: 1px dashed rgba($color: #fff, $alpha: .1);
      //   padding-bottom: 5px;
      //   margin-bottom: 5px;

      //   a {
      //     text-align: left;
      //     width: auto;
      //     height: 54px;

      //     span,
      //     img {
      //       position: absolute;
      //     }

      //     .week {
      //       top: 32px;
      //     }

      //     .datetime {
      //       color: #fff;
      //       top: 10px;
      //     }

      //     .image {
      //       left: 80px;
      //       width: 48px;
      //       height: 48px;
      //     }

      //     .weather {
      //       left: 220px;
      //       top: 10px;
      //     }

      //     .temperature {
      //       display: block;
      //       font-size: 26px;
      //       left: 142px;
      //       top: 10px;
      //     }

      //     .temperature1 {
      //       left: 220px;
      //       top: 32px;
      //     }

      //     .wind {
      //       top: 10px;
      //       left: 240px;
      //     }
      //   }

      // }

      // &:first-child::after,
      // &:last-child::after {
      //   content: none;
      // }
    }
  }
}

.group-cameera {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      list-style: none;
      list-style-type: none;
      display: inline-block;
      width: 33.33%;

      a {
        position: relative;
        display: block;
        padding: 4px;
        color: #fff;
        font-size: 12px;

        img {
          width: 100%;
          border-radius: 4px;
        }

        span {
          position: absolute;
          top: 2px;
          left: 2px;
          transform: scale(0.75);
        }

        &::after {
          position: absolute;
          content: "\f144";
          font: normal normal normal 18px/1 FontAwesome;
          color: #fff;
          opacity: 0.5;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          &::after {
            opacity: 0.9;
          }
        }
      }
    }
  }
}

.group-limit {
  line-height: 18px;
  font-size: 12px;

  .group-limit-item {
    display: inset-block;
    padding: 0 4px;

    i {
      display: inline-block;
      margin-right: 4px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: gray;
    }
  }
}

.group_config {
  line-height: 2.5em;

  h3 {
    border-bottom: 1px dashed #ddd;
    padding: 0.315em 0.635em;
    line-height: 2em;
    font-weight: normal;
  }

  .group_config_viewsize {
    height: 80px;
    position: relative;

    .t {
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translate(-50%, -50%);
    }

    .r {
      position: absolute;
      left: 75%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .b {
      position: absolute;
      left: 50%;
      top: 75%;
      transform: translate(-50%, -50%);
    }

    .l {
      position: absolute;
      left: 25%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    nz-input-number {
      margin-left: 5px;
    }
  }

  .group_config_label {
    text-align: right;
  }

  .group_config_content {
    padding: 0 0.5em;
  }

  .group_config_btns {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 15px 0 10px;

    button {
      margin: 0 4px;
    }
  }
}

.list-ray-style {
  // border-top: 1px dashed rgba($color: #fff, $alpha: .2);
  margin-top: 4px;
  padding: 4px;

  .ant-checkbox-wrapper {
    // color: #fff;
    white-space: nowrap;

    i {
      display: inline-block;
      margin-right: 4px;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      background-color: beige;
    }
  }
}

.list-steps-style {
  display: inline-block;
  padding-left: 10px;
  border-left: 1px solid rgba($color: #fff, $alpha: 0.35);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;

    li {
      display: inline-block;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      list-style: none;
      list-style-type: none;

      a {
        display: block;
        color: #fff;
        padding: 0 5px;

        i {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 5px;
        }

        span {
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------------------
.group-list {
  ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
    li {
      list-style-type: none;
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      border-bottom: 1px solid #ddd;
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------------------
.group-table {
  table {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 100%;
    line-height: 1.875em;

    th,
    td {
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      padding: 0.315em 0.5em;
    }

    th {
    }

    td {
      &.value {
        text-align: right;
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------------------

.group-form-validate {
  .group-form-validate-label-block {
    display: block;
    line-height: 1.875em;
    background-color: #c1deff;
    padding: 0.315em 0.875em;
  }
  button {
    margin: 0 5px;
  }
}
// ------------------------------------------------------------------------------------------------------------------------------

.group-map-mini {
  position: relative;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  margin: 5px auto;
  .group-map-mini-container {
    display: block;
    position: relative;
    min-height: 320px;
    min-width: 640px;
    //
    .line {
      position: absolute;
      background-color: black;
      &.horizontal {
        height: 2px;
      }
      &.vertical {
        width: 2px;
      }
    }
    //
    .text {
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: white;
      line-height: 1.315em;
      white-space: nowrap;
    }
    //
    .point {
      position: absolute;
      transform: translate(-50%, -50%);
      i {
        display: block;
        background-color: #fff;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 16px;
        font-family: "FontAwesome";
        font-style: normal;
        &::after {
          content: "\f192";
        }
      }
      span {
        position: absolute;
        white-space: nowrap;
        line-height: 1em;
      }
      &.top {
        span {
          top: -1em;
          transform: translate(-25%, -50%);
        }
      }
      &.right {
        span {
          left: 1em;
          transform: translate(0.5em, -100%);
        }
      }

      &.action {
        cursor: pointer;
        color: #006422;
        &:hover {
          color: #019125;
        }
      }
    }
    //
    .box {
      border: 1px solid #ddd;
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: white;
      line-height: 1.135em;
      border-radius: 3px;
      &.horizontal {
        min-width: 5em;
        text-align: center;
        padding: 0.315em 0.635em;
      }
      &.vertical {
        writing-mode: tb-rl;
        padding: 0.635em 0.315em;
      }

      &.action {
        cursor: pointer;
        background-color: #019125;
        border-color: #006422;
        color: #fff;
        &:hover {
          background-color: #00b62d;
          border-color: #009e35;
          color: #fff;
        }
      }
    }
  }
  .group-map-mini-legend {
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 1px solid #ddd;
    width: 120px;
    padding: 4px 8px;
    h5,
    p {
      margin: 0;
    }
    h5 {
      line-height: 24px;
    }
    p {
      line-height: 18px;
      padding: 2px 4px;
      i {
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 16px;
        vertical-align: middle;
        &.box {
          border: 1px solid #ddd;
          background-color: #fff;
          border-radius: 3px;
          &.action {
            border: 1px solid #006422;
            background-color: #019125;
            border-radius: 3px;
          }
        }

        &.point {
          font-family: "FontAwesome";
          font-style: normal;
          &::before {
            content: "\f192";
          }
          &.action {
            color: #019125;
          }
        }
      }
      span {
        float: right;
      }
    }
  }
}
