font.m3{
  display: inline-block;
  position: relative;
  padding-right: .5em;
  &::after{
    content:'3';
    position: absolute;
    top: -.185em;
    right: 0;
    transform: scale(.5);
  }
}

.header{
  .header-menu li {
    i.icon.icon-Home {
      background-position: -451px -50px;
    }

    &:hover>a>i.icon.icon-Home,
    &.selected>a>i.icon.icon-Home {
      background-position: -451px -110px;
    }

    i.icon.icon-APicture {
      background-position: -523px -50px;
    }

    &:hover>a>i.icon.icon-APicture,
    &.selected>a>i.icon.icon-APicture {
      background-position: -523px -110px;
    }

    i.icon.icon-FloodForecast {
      background-position: -595px -50px;
    }

    &:hover>a>i.icon.icon-FloodForecast,
    &.selected>a>i.icon.icon-FloodForecast {
      background-position: -595px -110px;
    }

    i.icon.icon-FloodDispatch {
      background-position: -667px -50px;
    }

    &:hover>a>i.icon.icon-FloodDispatch,
    &.selected>a>i.icon.icon-FloodDispatch {
      background-position: -667px -110px;
    }

    i.icon.icon-DailyManagement {
      background-position: -739px -50px;
    }

    &:hover>a>i.icon.icon-DailyManagement,
    &.selected>a>i.icon.icon-DailyManagement {
      background-position: -739px -110px;
    }

    i.icon.icon-SystemManagement {
      background-position: -811px -50px;
    }

    &:hover>a>i.icon.icon-SystemManagement,
    &.selected>a>i.icon.icon-SystemManagement {
      background-position: -811px -110px;
    }
  }
}
.header2{
  .header-menu li {
    i.icon{
      font-style: normal;
      background-image: none;
      &::before{
        font-family: "Untitled" !important;
      }
    }
    i.icon.icon-Home::before {
      content: '1';
    }

    i.icon.icon-APicture::before {
      content: '2';
    }

    i.icon.icon-FloodForecast::before {
      content: '3';
    }

    i.icon.icon-FloodDispatch::before {
      content: '4';
    }

    i.icon.icon-DailyManagement::before {
      content: '5';
    }

    i.icon.icon-SystemManagement::before {
      content: '6';
    }
  }
}

.slider-menu li, .toolbar2 li {
  i.icon.icon-3-1 {
    background-position: 0 -30px;
  }

  &:hover>a>i.icon.icon-3-1,
  &.selected>a>i.icon.icon-3-1 {
    background-position: 0 -62px;
  }

  //
  i.icon.icon-3-2 {
    background-position: -42px -30px;
  }

  &:hover>a>i.icon.icon-3-2,
  &.selected>a>i.icon.icon-3-2 {
    background-position: -42px -62px;
  }

  i.icon.icon-3-3 {
    background-position: -84px -30px;
  }

  &:hover>a>i.icon.icon-3-3,
  &.selected>a>i.icon.icon-3-3 {
    background-position: -84px -62px;
  }

  i.icon.icon-3-4 {
    background-position: -126px -30px;
  }

  &:hover>a>i.icon.icon-3-4,
  &.selected>a>i.icon.icon-3-4 {
    background-position: -126px -62px;
  }

  //
  i.icon.icon-4-1 {
    background-position: 0 -129px;
  }

  &:hover>a>i.icon.icon-4-1,
  &.selected>a>i.icon.icon-4-1 {
    background-position: 0 -161px;
  }

  i.icon.icon-4-2 {
    background-position: -42px -129px;
  }

  &:hover>a>i.icon.icon-4-2,
  &.selected>a>i.icon.icon-4-2 {
    background-position: -42px -161px;
  }

  i.icon.icon-4-3 {
    background-position: -84px -129px;
  }

  &:hover>a>i.icon.icon-4-3,
  &.selected>a>i.icon.icon-4-3 {
    background-position: -84px -161px;
  }

  i.icon.icon-4-4 {
    background-position: -126px -129px;
  }

  &:hover>a>i.icon.icon-4-4,
  &.selected>a>i.icon.icon-4-4 {
    background-position: -126px -161px;
  }

  //
  i.icon.icon-5-1 {
    background-position: 0 -237px;
  }

  &:hover>a>i.icon.icon-5-1,
  &.selected>a>i.icon.icon-5-1 {
    background-position: 0 -269px;
  }

  i.icon.icon-5-2 {
    background-position: -42px -237px;
  }

  &:hover>a>i.icon.icon-5-2,
  &.selected>a>i.icon.icon-5-2 {
    background-position: -42px -269px;
  }

  i.icon.icon-5-3 {
    background-position: -84px -237px;
  }

  &:hover>a>i.icon.icon-5-3,
  &.selected>a>i.icon.icon-5-3 {
    background-position: -84px -269px;
  }

  i.icon.icon-5-4 {
    background-position: -126px -237px;
  }

  &:hover>a>i.icon.icon-5-4,
  &.selected>a>i.icon.icon-5-4 {
    background-position: -126px -269px;
  }

  i.icon.icon-5-5 {
    background-position: -168px -237px;
  }

  &:hover>a>i.icon.icon-5-5,
  &.selected>a>i.icon.icon-5-5 {
    background-position: -168px -269px;
  }

  i.icon.icon-5-6 {
    background-position: -210px -237px;
  }

  &:hover>a>i.icon.icon-5-6,
  &.selected>a>i.icon.icon-5-6 {
    background-position: -210px -269px;
  }

  //
  i.icon.icon-6-1 {
    background-position: 0 -352px;
  }

  &:hover>a>i.icon.icon-6-1,
  &.selected>a>i.icon.icon-6-1 {
    background-position: 0 -384px;
  }

  i.icon.icon-6-2 {
    background-position: -42px -352px;
  }

  &:hover>a>i.icon.icon-6-2,
  &.selected>a>i.icon.icon-6-2 {
    background-position: -42px -384px;
  }

  i.icon.icon-6-3 {
    background-position: -84px -352px;
  }

  &:hover>a>i.icon.icon-6-3,
  &.selected>a>i.icon.icon-6-3 {
    background-position: -84px -384px;
  }

  i.icon.icon-6-4 {
    background-position: -126px -352px;
  }

  &:hover>a>i.icon.icon-6-4,
  &.selected>a>i.icon.icon-6-4 {
    background-position: -126px -384px;
  }

  i.icon.icon-6-5 {
    background-position: -168px -352px;
  }

  &:hover>a>i.icon.icon-6-5,
  &.selected>a>i.icon.icon-6-5 {
    background-position: -168px -384px;
  }

  i.icon.icon-6-6 {
    background-position: -210px -352px;
  }

  &:hover>a>i.icon.icon-6-6,
  &.selected>a>i.icon.icon-6-6 {
    background-position: -210px -384px;
  }

  i.icon.icon-6-7 {
    background-position: -252px -352px;
  }

  &:hover>a>i.icon.icon-6-7,
  &.selected>a>i.icon.icon-6-7 {
    background-position: -252px -384px;
  }

  i.icon.icon-6-8 {
    background-position: -294px -352px;
  }

  &:hover>a>i.icon.icon-6-8,
  &.selected>a>i.icon.icon-6-8 {
    background-position: -294px -384px;
  }

  i.icon.icon-6-9 {
    background-position: -336px -352px;
  }

  &:hover>a>i.icon.icon-6-9,
  &.selected>a>i.icon.icon-6-9 {
    background-position: -336px -384px;
  }

//
  i.icon.icon-point {
    background-position: 0 -428px;
  }

  &:hover>a>i.icon.icon-point,
  &.selected>a>i.icon.icon-point {
    background-position: 0 -460px;
  }

}


.icon {
  // 测量
  &.icon-tools-01{
    background-image: url(../images/svg/tools-01.svg);
  }
  // 坐标
  &.icon-tools-0101{
    background-image: url(../images/svg/tools-0101.svg);
  }
  // 距离
  &.icon-tools-0102{
    background-image: url(../images/svg/tools-0102.svg);
  }
  // 面积
  &.icon-tools-0103{
    background-image: url(../images/svg/tools-0103.svg);
  }
  // 高度
  &.icon-tools-0104{
    background-image: url(../images/svg/tools-0104.svg);
  }
  // 分析
  &.icon-tools-02{
    background-image: url(../images/svg/tools-02.svg);
  }
  // 通视分析
  &.icon-tools-0201{
    background-image: url(../images/svg/tools-0201.svg);
  }
  // 地形剖面分析
  &.icon-tools-0202{
    background-image: url(../images/svg/tools-0202.svg);
  }
  // 地形开挖分析
  &.icon-tools-0203{
    background-image: url(../images/svg/tools-0203.svg);
  }
  // 缓冲区分析
  &.icon-tools-0204{
    background-image: url(../images/svg/tools-0204.svg);
  }
  // 空间叠加分析
  &.icon-tools-0205{
    background-image: url(../images/svg/tools-0205.svg);
  }
  // 坡度分析
  &.icon-tools-0206{
    background-image: url(../images/svg/tools-0206.svg);
  }
  // 清除
  &.icon-tools-99{
    background-image: url(../images/svg/tools-99.svg);
  }
}


// ===========================================================================
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1568271264519'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1568271264519#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1568271264519') format('woff'),
  url('../fonts/iconfont.ttf?t=1568271264519') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1568271264519#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erwei:before {
  content: "\e601";
}

.icon-gaoduliangsuan:before {
  content: "\e602";
}

.icon-jiaoduliangsuan:before {
  content: "\e603";
}

.icon-poumianfenxi:before {
  content: "\e604";
}

.icon-gongju:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-juli:before {
  content: "\e607";
}

.icon-huanchongqufenxi:before {
  content: "\e608";
}

.icon-tuceng:before {
  content: "\e609";
}

.icon-shezhi:before {
  content: "\e60a";
}

.icon-sanwei:before {
  content: "\e60b";
}

.icon-diejiafenxi:before {
  content: "\e60c";
}

.icon-fenxigongju:before {
  content: "\e60d";
}

.icon-chichun:before {
  content: "\e60e";
}

.icon-sanchu:before {
  content: "\e60f";
}

.icon-dinwei:before {
  content: "\e610";
}

.icon-mianji:before {
  content: "\e611";
}

.icon-gaodu:before {
  content: "\e612";
}

.icon-zuobiao:before {
  content: "\e613";
}

.icon-buowen:before {
  content: "\e614";
}

.icon-wafang:before {
  content: "\e615";
}

.icon-puodu:before {
  content: "\e616";
}

.icon-tools-:before {
  content: "\e617";
}

.icon-cuantou:before {
  content: "\e618";
}

.icon-lifang:before {
  content: "\e619";
}

.icon-zhuye:before {
  content: "\e61a";
}

// -----------------------------------------
@font-face {font-family: "Untitled";
  src: url('../fonts/Untitled1.eot?t=1568271264519'); /* IE9 */
  src: url('../fonts/Untitled1.eot?t=1568271264519#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Untitled1.woff?t=1568271264519') format('woff'),
  url('../fonts/Untitled1.ttf?t=1568271264519') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/Untitled1.svg?t=1568271264519#iconfont') format('svg'); /* iOS 4.1- */
}
.untitled {
  font-family: "Untitled" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// -----------------------------------------
.untitled-1-1::before{
  content: 'A';
}
.untitled-1-2::before{
  content: 'B';
}
.untitled-1-3::before{
  content: 'C';
}
.untitled-1-4::before{
  content: 'D';
}
// -----------------------------------------
.untitled-3-1::before{
  content: 'G';
}
.untitled-3-2::before{
  content: 'H';
}
.untitled-3-3::before{
  content: 'I';
}
.untitled-3-4::before{
  content: 'J';
}
// -----------------------------------------
.untitled-4-1::before{
  content: 'M';
}
.untitled-4-2::before{
  content: 'N';
}
.untitled-4-3::before{
  content: 'O';
}


