.header {
  display: flex;
  flex-direction: row;
  .header-menu {
    flex: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding-right: 10%;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style: none;
        flex: 1;
        height: 68px;
        position: relative;

        a {
          display: block;
          text-align: center;
          min-width: 6.5em;
          color: #fff;
          padding-top: 2px;
          font-size: 14px;

          i {
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 40px;
            background-position: -483px -50px;
          }

          span {
            display: block;
            height: 22px;
            line-height: 22px;
          }
        }

        &:hover,
        &.selected {
          a {
            color: #9bf300;
          }
        }

        &.selected {
          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            height: 2px;
            background-color: #9bf300;
          }
        }
      }
    }
  }
  .header-quick {
    a {
      display: inline-block;
      padding: 0 10px;
      color: #fff;
      &:hover {
        color: rgba($color: #fff, $alpha: 0.7);
      }
    }
  }
}

.header2 {
  display: flex;
  flex-direction: row;
  line-height: 60px;
  padding: 8px 16px 0 8px;
  .header-logo {
    min-width: 400px;
    background-image: url(../images/logo.svg);
    background-position: 15px 10px;
    background-repeat: no-repeat;
  }
  .header-menu {
    flex: 1;
    ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0 0.5em;
        display: inline-block;
        a {
          display: block;
          height: 46px;
          line-height: 38px;
          padding: 0 1.5em;
          border-radius: 25px 25px;
          color: rgba($color: #fff, $alpha: 0.8);
          border: 1px solid rgba($color: #fff, $alpha: 0.5);
          box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.5);
          background: linear-gradient(
            to bottom,
            rgba($color: #000, $alpha: 0.3),
            rgba($color: #fff, $alpha: 0.15)
          );
          font-size: 15px;
          i {
            font-size: 24px;
            margin-right: 5px;
          }
          span {
            position: relative;
            top: -1px;
          }
        }
        &.selected,
        &:hover {
          a {
            color: #00ffff;
          }
        }
        &.selected {
          a {
            border-color: rgba($color: #00ffff, $alpha: 0.8);
            box-shadow: 0 0 8px rgba($color: #00ffff, $alpha: 1);
            background: linear-gradient(
              to bottom,
              rgba($color: #000, $alpha: 0.5),
              rgba($color: #00ffff, $alpha: 0.5)
            );
            // background-image: url(../images/menu-item-bg-selected.png);
          }
        }
      }
    }
  }
  // .header-quick {
  // }
}
