.toolbar {
  // position: absolute;
  // top: 20px;
  // right: 10px;

  >ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    >li {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0 .675em;
      position: relative;
      display: inline-block;
      vertical-align: middle;

      &:first-child {
        margin-top: 0;
      }

      a {
        width: 24px;
        height: 24px;
        padding: 2px;
        background-color: rgba($color: #ffffff, $alpha: .9);
        border-radius: 3px;
        color: #000000;


        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        position: relative;




        i {
          // display: block;
          // color: #000;


          display: inline-block;
          width: 16px;
          height: 16px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          line-height: 16px;

          svg {
            margin-top: 1px;
          }
        }

        span {
          position: absolute;
          top: 100%;
          // display: none;
          font-size: 12px;
          color: #fff;
          white-space: nowrap;
        }
      }

      >ul {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 1.875em;
        left: 0;
        display: none;

        >li {
          list-style: none;
          list-style-type: none;
          margin: 0;
          padding: 1.875em 0 0 .675em;
          display: block;
        }
      }

      &:hover {
        >a {
          background-color: rgba($color: #eeffdf, $alpha: 1);

          >span {
            color: #9bf300;
          }
        }

        >ul {
          display: flex;
          flex-direction: column;

          >li {
            &:hover {
              >a {
                background-color: rgba($color: #eeffdf, $alpha: 1);

                >span {
                  color: #9bf300;
                }
              }
            }
          }
        }
      }
    }
  }
}





// ---------------------------------

.map-toolbar2 {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;

    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 2px;
    text-align: center;

    a {
      display: block;
      color: #fff;

      i {
        display: inline-block;
        font-size: 22px;
        height: 30px;
        line-height: 30px;
        min-width: 30px;
        // background-color: rgba($color: #124874, $alpha: .5);
        background-color: rgba($color: #000, $alpha: .5);
        border-radius: 3px;
      }

      span {
        display: none;
        white-space: nowrap;
        font-size: 12px;
      }

      &:hover {
        color: #13e800;

        i {
          background-color: rgba($color: #4aa064, $alpha: .5);
        }
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }

    ul {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;
      list-style-type: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);

      // display: none;
      li {
        display: block;

        a {
          color: #1eadff;

          i {
            // background-color: rgba($color: #000, $alpha: .5);
          }
        }
      }
    }
  }

  input {
    outline: none;
  }

  .search-btn {
    position: relative;
    i[type=search]{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 7px;
      font-size: 18px;
    }
    input[type=search] {
      display: inline-block;
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      font-family: inherit;
      font-size: 100%;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
      background-color: rgba($color: #000, $alpha: .5);
      border-radius: 3px;
      border: none;
      height: 22px;
      line-height: 22px;
      width: 22px;
      padding: 4px;
      margin: 0;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
      display: none;
      /* remove the search and cancel icon */
    }

    /* search input field */

    &:hover input,
    input[type=search]:focus {
      width: 130px;
      padding: 4px 8px 4px 32px;
      // background-color: #fff;
      // border-color: #6dcff6;
      // -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
      // -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
      // box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    }

    /* placeholder */

    input:-moz-placeholder {
      color: #999;
    }

    input::-webkit-input-placeholder {
      color: #999;
    }
  }
}
