<div class="table-operations">
  <app-flood-dispatch-data-form></app-flood-dispatch-data-form>
</div>
<div class="table-operations">
    <app-flood-dispatch-data-grid></app-flood-dispatch-data-grid>
</div>
<div class="flex-row">
  <div style="flex: none; width: 320px;">
    <div class="group-box" style="height: 280px;">
      <app-real-calculation-results-grid></app-real-calculation-results-grid>
    </div>
  </div>
  <div style="padding: 4px; padding: 0px 10px;">
    <div class="group-box" style="height: 280px;">
      <app-real-calculation-results-chart></app-real-calculation-results-chart>
    </div>
  </div>
  <div style="flex: none; width: 220px;">
    <div class="group-box" style="height: 280px;">
      <app-real-calculation-results-tree></app-real-calculation-results-tree>
    </div>
  </div>
</div>
