<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>控制方式</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>控制流量</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <app-input-group formControlName="F_Start"></app-input-group>
    </nz-form-control>
  </nz-form-item>
</form>