<div class="table GRAY1">
  <table>
    <thead>
      <tr>
        <th>用户</th>
        <th>方案名称</th>
        <th>制作时间</th>
        <th>方案开始时间</th>
        <th>计算步长</th>
        <th>方案描述</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="center">admin</td>
        <td align="center">人工预报</td>
        <td align="center">2018/08/08</td>
        <td align="center">2018/08/08</td>
        <td align="center">1</td>
        <td align="center">描述</td>
        <td align="center"></td>
      </tr>
      <tr>
        <td align="center">admin</td>
        <td align="center">人工预报</td>
        <td align="center">2018/08/08</td>
        <td align="center">2018/08/08</td>
        <td align="center">1</td>
        <td align="center">描述</td>
        <td align="center"></td>
      </tr>
      <tr>
        <td align="center">admin</td>
        <td align="center">人工预报</td>
        <td align="center">2018/08/08</td>
        <td align="center">2018/08/08</td>
        <td align="center">1</td>
        <td align="center">描述</td>
        <td align="center"></td>
      </tr>
      <tr>
        <td align="center">admin</td>
        <td align="center">人工预报</td>
        <td align="center">2018/08/08</td>
        <td align="center">2018/08/08</td>
        <td align="center">1</td>
        <td align="center">描述</td>
        <td align="center"></td>
      </tr>
      <tr>
        <td align="center">admin</td>
        <td align="center">人工预报</td>
        <td align="center">2018/08/08</td>
        <td align="center">2018/08/08</td>
        <td align="center">1</td>
        <td align="center">描述</td>
        <td align="center"></td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <nz-pagination [nzPageIndex]="1" [nzTotal]="500" nzSize="small"></nz-pagination>
  </div>
</div>
