<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label>方案名称</nz-form-label>
    <nz-form-control>
      <app-input-group></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>制作人</nz-form-label>
    <nz-form-control>
      <app-input-group></app-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary">查询</button>
      <button nz-button>重置</button>
    </nz-form-control>
  </nz-form-item>
</form>
