<div class="group-list">
  <ul>
    <li>
      <app-list-item label="基本信息" [opend]="true">
        <div class="group-table">
          <table>
            <tr>
              <th>测站代码</th>
              <td class="value">555.50</td>
            </tr>
            <tr>
              <th>河流名称</th>
              <td class="value">554.30</td>
            </tr>
            <tr>
              <th>水系名称</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>经度</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>纬度</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>站址</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>行政区七划</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>基面名称</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>基面高程</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>基面修正值</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>站类</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>报讯等级</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>建站年月</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>始报年月</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>隶属行业单位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>信息管理单位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>交换管理单位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>测站岸别</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>测站方位</th>
              <td class="value"></td>
            </tr>
          </table>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="防洪指标" [opend]="true">
        <div class="group-table">
          <table>
            <tr>
              <th>测站代码</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>左提高程</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>右提高程</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>警戒水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>警戒流量</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>保证水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>保证流量</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>平滩流量</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>实测最高水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>实测最高水位出现时间</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>调查最高水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>调查最高水位出现时间</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>实测最大流量</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>实测最大流量出现时间</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>调查最大流量</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>调查最大流量出现时间</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>历史最大含沙量</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>历史最大含沙量出现时间</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>历史最大断面平均流速</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>历史最大断面平均流速出现时间</th>
              <td class="value"></td>
            </tr>
          </table>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="水位流量" [opend]="true">
        <div>
          <app-item-icon width="10em" label="水位流量关系曲线表"></app-item-icon>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="雨水情分析" [opend]="true">
        <div>
          <app-item-icon width="6em" label="水位过程线"></app-item-icon>
          <app-item-icon width="6em" label="雨量柱状图"></app-item-icon>
          <app-item-icon width="6em" label="流量过程线"></app-item-icon>
        </div>
      </app-list-item>
    </li>
  </ul>
</div>
