<nz-tabset [nzTabPosition]="'top'">
  <nz-tab nzTitle="水位(高程)流量曲线" *ngIf="stationType === 0">
    <nz-row>
      <nz-col nzSpan="8">
        <app-database-station-curve-tmpgrid></app-database-station-curve-tmpgrid>
      </nz-col>
      <nz-col nzSpan="16">
        <app-database-station-curve-tmpchart></app-database-station-curve-tmpchart>
      </nz-col>
    </nz-row>
  </nz-tab>
  <nz-tab nzTitle="水位流量关系曲线" *ngIf="stationType === 1">
    <nz-row>
      <nz-col nzSpan="8">
        <app-database-station-curve-tmpgrid></app-database-station-curve-tmpgrid>
      </nz-col>
      <nz-col nzSpan="16">
        <app-database-station-curve-tmpchart></app-database-station-curve-tmpchart>
      </nz-col>
    </nz-row>
  </nz-tab>
  <nz-tab nzTitle="水位库容关系曲线" *ngIf="stationType === 1">
    <nz-row>
      <nz-col nzSpan="8">
        <app-database-station-curve-tmpgrid></app-database-station-curve-tmpgrid>
      </nz-col>
      <nz-col nzSpan="16">
        <app-database-station-curve-tmpchart></app-database-station-curve-tmpchart>
      </nz-col>
    </nz-row>
  </nz-tab>
</nz-tabset>