<div class="group-map-mini">
  <div class="group-map-mini-container">
    <ng-container *ngFor="let item of dataset" [ngSwitch]="item.mode">
      <!--  -->
      <ng-container *ngSwitchCase="'line'">
        <div
          class="line"
          [ngClass]="{
            horizontal: item.local === 'horizontal',
            vertical: item.local === 'vertical',
            action: item.action
          }"
          [ngStyle]="item.style"
          (click)="event(item)"
        ></div>
      </ng-container>
      <!--  -->
      <ng-container *ngSwitchCase="'text'">
        <div class="text" [ngStyle]="item.style" (click)="event(item)">
          {{ item.label }}
        </div>
      </ng-container>
      <!--  -->
      <ng-container *ngSwitchCase="'point'">
        <div
          class="point"
          [ngClass]="{
            top: item.local === 'top',
            right: item.local === 'right',
            action: item.action
          }"
          [ngStyle]="item.style"
          (click)="event(item)"
        >
          <i></i>
          <span>{{ item.label }}</span>
        </div>
      </ng-container>
      <!--  -->
      <ng-container *ngSwitchCase="'box'">
        <div
          class="box"
          [ngClass]="{
            horizontal: item.local === 'horizontal',
            vertical: item.local === 'vertical',
            action: item.action
          }"
          [ngStyle]="item.style"
          (click)="event(item)"
        >
          {{ item.label }}
        </div>
      </ng-container>
      <!-- <ng-container *ngSwitchCase="false">

</ng-container>
<ng-container *ngSwitchDefault>

</ng-container> -->
    </ng-container>
  </div>
  <div class="group-map-mini-legend">
    <h5>说明：</h5>
    <p><i class="box"></i> <span>水库</span></p>
    <p><i class="box action"></i> <span>控制性水库</span></p>
    <p><i class="point"></i> <span>水文站</span></p>
    <p><i class="point action"></i> <span>控制性水文站</span></p>
  </div>
</div>
