<!--  -->
<app-page-recommended-scheduling-scheme-form></app-page-recommended-scheduling-scheme-form>
<!--  -->
<nz-divider nzText="查询结果" nzOrientation="left"></nz-divider>
<!--  -->
<div class="table-operations" style="padding: 4px;">
  <app-page-recommended-scheduling-scheme-grid></app-page-recommended-scheduling-scheme-grid>
</div>
<!--  -->
<div class="flex-row">
  <div style="flex: none; width: 320px; padding: 4px;">
    <div class="group-box" style="height: 380px;">
      <app-page-recommended-scheduling-scheme-values></app-page-recommended-scheduling-scheme-values>
    </div>
  </div>
  <div style="padding: 4px;">
    <div class="group-box" style="height: 380px;">
      <app-page-recommended-scheduling-scheme-chart></app-page-recommended-scheduling-scheme-chart>
    </div>
  </div>
  <div style="flex: none; width: 220px; padding: 4px;">
    <div class="group-box" style="height: 380px;">
      <app-page-recommended-scheduling-scheme-tree></app-page-recommended-scheduling-scheme-tree>
    </div>
  </div>
</div>
<!--  -->
