<div class="table-operations">
  <app-page-dispatching-schemes-search></app-page-dispatching-schemes-search>
</div>
<!--  -->
<nz-divider nzText="流域内常用水情报表" nzOrientation="left" style="margin-bottom: 10px;"></nz-divider>
<!--  -->
<div class="flex-row">
  <div>
    <button nz-button nzTitle="打印" nzPlacement="top" nz-tooltip (click)="add()" nzSize="small"><i nz-icon nzType="printer"
        theme="outline"></i>打印</button>
        &nbsp;
    <button nz-button nzTitle="导出" nzPlacement="top" nz-tooltip (click)="del(checkedItems)" nzSize="small"
      [disabled]="checkedItems.length === 0"><i nz-icon nzType="export" theme="outline"></i>导出</button>
  </div>
  <div class="tr" style="line-height: 32px;">
    2019-01-01 00:00:00 单位（水位：m, 流量：<font class="m3">m</font>/s）
  </div>
</div>
<!--  -->
<div class="table-operations">
  <nz-table #dataGrid nzShowSizeChanger nzShowQuickJumper [nzShowTotal]="totalTemplate" [nzFrontPagination]="false"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="loadData()"
    nzSize="small" [nzScroll]="{ x: '1600px'}" (nzPageSizeChange)="loadData(true)" [nzData]="dataset" nzBordered>
    <thead>
      <tr>
        <th>河道名称</th>
        <th>站名</th>
        <th>水位</th>
        <th>水势</th>
        <th>昨日涨落比</th>
        <th>流量</th>
        <th>设防水位</th>
        <th>警戒水位</th>
        <th>最高水位</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataGrid.data">
        <td>{{data.label1}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
        <td>{{data.label2}}</td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #totalTemplate let-total>共计 {{total}} 条记录.</ng-template>


</div>
