<div class="group-list">
  <ul>
    <li>
      <app-list-item label="流域情况" [opend]="true">
        <div>
          aaa
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="工程特性" subLabel="单位:米、亿立方米" [opend]="true">
        <div class="group-table">
          <table>
            <tr>
              <th>防浪墙顶高程</th>
              <td class="value">555.50</td>
            </tr>
            <tr>
              <th>南顶高程</th>
              <td class="value">554.30</td>
            </tr>
            <tr>
              <th>校核洪水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>校核库容</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>设计洪水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>设计库容</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>正常高水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>正常库容</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>死水位</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>死库容</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>库容系数</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>调节性能</th>
              <td class="value"></td>
            </tr>
          </table>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="静态关系曲线" [opend]="true">
        <div>
          <app-item-icon width="12em" label="水位库容关系曲线"></app-item-icon>
          <app-item-icon width="12em" label="尾水流量关系曲线"></app-item-icon>
          <app-item-icon width="12em" label="水位流量关系曲线"></app-item-icon>
          <app-item-icon width="12em" label="水头出力发电流量曲线"></app-item-icon>
          <app-item-icon width="12em" label="水头最大出力曲线"></app-item-icon>
          <app-item-icon width="12em" label="闸门泄流曲线"></app-item-icon>
          <app-item-icon width="12em" label="库水位出力尾水位曲线"></app-item-icon>
          <app-item-icon width="12em" label="洪峰频率曲线"></app-item-icon>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="雨水情况分析" [opend]="true">
        <div>
          <app-item-icon width="7em" label="水位过程线"></app-item-icon>
          <app-item-icon width="7em" label="雨量柱状图"></app-item-icon>
          <app-item-icon width="7em" label="流量过程线"></app-item-icon>
          <app-item-icon width="7em" label="暴雨等值线图"></app-item-icon>
          <app-item-icon width="7em" label="运行综合图"></app-item-icon>
          <app-item-icon width="7em" label="雨洪对应图"></app-item-icon>
          <app-item-icon width="7em" label="水位对比图"></app-item-icon>
          <app-item-icon width="7em" label="水库调度图"></app-item-icon>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="流域测站" [opend]="true">
        <div>
          <app-item-icon label="周仓坝"></app-item-icon>
          <app-item-icon label="镇坪"></app-item-icon>
          <app-item-icon label="茅坪待"></app-item-icon>
          <app-item-icon label="牛头店"></app-item-icon>
          <app-item-icon label="鄂坪"></app-item-icon>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="视频监控" [opend]="true">
        <div>
          <app-item-play></app-item-play>
        </div>
      </app-list-item>
    </li>
  </ul>
</div>
