<div class="spinner" [hidden]="!loading" [ngClass]="{'spinner-modal': viewMode}">
  <div class="bg"></div>
  <!-- <div class="logo">
      <i class="pIcon pIcon-100050" style="font-size: 60px"></i>
  </div> -->
  <div class="bar">
    <div class="spinner-point spinner-point-1"></div>
    <div class="spinner-point spinner-point-2"></div>
    <div class="spinner-point spinner-point-3"></div>
    <div class="spinner-point spinner-point-4"></div>
    <div class="spinner-point spinner-point-5"></div>
    <div class="spinner-point spinner-point-6"></div>
    <div class="spinner-point spinner-point-7"></div>
    <div class="spinner-point spinner-point-8"></div>
    <p>{{text}}</p>
  </div>
</div>
