<div class="table GRAY1">
  <table>
    <thead>
      <tr>
        <th>水库</th>
        <th>方案名称</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
      <tr>
        <td align="center">水库水库</td>
        <td align="center">方案名称方案名称</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <nz-pagination [nzPageIndex]="1" [nzTotal]="500" nzSize="small"></nz-pagination>
  </div>
</div>
