<div class="group-weather2">
  <div class="flex-row">
    <div class="flex-col group-weather2-b block">
        <p class="group-weather2-b-n">10℃</p>
        <p class="tc">
          <i class="untitled untitled-00C2" style="width: 24px; height: 24px; font-size:24px; color: #32c5ff;"></i>
          <span>5~16℃</span>
        </p>
    </div>
    <div class="flex-col group-weather2-b">
        <p>
          <i class="untitled untitled-00A1" style="color:#44d7b6;"></i>
          <span>湿度 50%</span>
        </p>
        <p>
          <i class="untitled untitled-00A2" style="color:#ff9200;"></i>
          <span>西南风 2~3级</span>
        </p>
        <p>
          <i class="untitled untitled-00A3" style="color:#6236ff;"></i>
          <span>紫外线 弱</span>
        </p>
    </div>
  </div>
  <div class="group-weather2-m">
    未来2小时不会下雨
  </div>
  <div class="group-weather2-n">
    注：预报结果是由雷达外推所得，仅供参考。
  </div>
</div>
