<div class="group-list">
  <ul>
    <li>
      <app-list-item label="河流介绍" [opend]="true">
        <div>
          aaa
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="基本信息" [opend]="true">
        <div class="group-table">
          <table>
            <tr>
              <th>河流代码</th>
              <td class="value">555.50</td>
            </tr>
            <tr>
              <th>河源位置</th>
              <td class="value">554.30</td>
            </tr>
            <tr>
              <th>水准基面</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>河源高程</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>河口位置</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>干流位置</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>全流域面积</th>
              <td class="value"></td>
            </tr>
            <tr>
              <th>管理单位</th>
              <td class="value"></td>
            </tr>
          </table>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="流域测站" [opend]="true">
        <div>
          <app-item-icon label="周仓坝"></app-item-icon>
          <app-item-icon label="镇坪"></app-item-icon>
          <app-item-icon label="茅坪待"></app-item-icon>
          <app-item-icon label="牛头店"></app-item-icon>
          <app-item-icon label="鄂坪"></app-item-icon>
        </div>
      </app-list-item>
    </li>
    <li>
      <app-list-item label="流域水库" [opend]="true">
        <div>
          <app-item-icon label="周仓坝"></app-item-icon>
          <app-item-icon label="镇坪"></app-item-icon>
        </div>
      </app-list-item>
    </li>
  </ul>
</div>
