<!--  -->
<app-page-joint-dispatch-setting-form></app-page-joint-dispatch-setting-form>
<!--  -->
<nz-divider nzText="查询结果" nzOrientation="left"></nz-divider>
<!--  -->
<div style="padding: 4px;">
<app-page-joint-dispatch-setting-map></app-page-joint-dispatch-setting-map></div>
<!--  -->
<div class="flex-row">
  <div>
      <app-page-joint-dispatch-setting-grid></app-page-joint-dispatch-setting-grid>
  </div>
  <div style="flex: none; width: 220px; padding: 4px;">
    <div class="group-box" style="height: 340px;">
        <app-page-joint-dispatch-setting-tree></app-page-joint-dispatch-setting-tree>
    </div>
  </div>
</div>
<!--  -->
