<form nz-form [formGroup]="searchForm" [nzLayout]="'inline'" class="group-form-search">
    <!-- 输入 -->
    <nz-form-item>
      <nz-form-label>模型方案</nz-form-label>
      <nz-form-control>
        <input formControlName="keyword" nz-input placeholder="关键字" nzSize="small">
      </nz-form-control>
    </nz-form-item>
    <!--  -->
    <nz-form-item>
      <nz-form-label>方案名称</nz-form-label>
      <nz-form-control>
        <input formControlName="keyword" nz-input placeholder="关键字" nzSize="small">
      </nz-form-control>
    </nz-form-item>
    <!--  -->
    <nz-form-item>
      <nz-form-label>制作人</nz-form-label>
      <nz-form-control>
        <input formControlName="keyword" nz-input placeholder="关键字" nzSize="small">
      </nz-form-control>
    </nz-form-item>
    <!--  -->
    <nz-form-item>
      <nz-form-label>开始时间</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="dateRange" nzShowTime nzSize="small"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <!--  -->
    <nz-form-item>
      <nz-form-label>结束时间</nz-form-label>
      <nz-form-control>
        <nz-date-picker formControlName="dateRange" nzShowTime nzSize="small"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <!--  -->
    <nz-form-item>
      <nz-form-label>制作时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzSize="small"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <!--  -->
    <nz-form-item>
      <nz-form-label>方案选择</nz-form-label>
      <nz-form-control>
        <nz-radio-group formControlName="radioValue">
          <label nz-radio nzValue="A">人工</label>
          <label nz-radio nzValue="B">自动</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 按钮 -->
    <nz-form-item style="float:right;">
      <nz-form-control>
        <button nz-button nzType="primary" (click)="submitForm($event)" nzSize="small">计算</button>
        <button nz-button nzType="default" (click)="resetForm($event)" nzSize="small">重置</button>
      </nz-form-control>
    </nz-form-item>
  </form>
