<!--  -->
<app-page-history-scheduling-scheme-form></app-page-history-scheduling-scheme-form>
<!--  -->
<nz-divider nzText="查询结果" nzOrientation="left"></nz-divider>
<!--  -->
<div class="table-operations" style="padding: 4px;">
  <app-page-history-scheduling-scheme-grid1></app-page-history-scheduling-scheme-grid1>
</div>
<!--  -->
<div class="flex-row">
  <div style="flex: none; width: 320px; padding: 4px;">
    <div class="group-box" style="height: 380px;">
      <app-page-history-scheduling-scheme-grid2></app-page-history-scheduling-scheme-grid2>
    </div>
  </div>
  <div style="padding: 4px;">
    <div class="group-box" style="height: 380px;">
      <app-page-history-scheduling-scheme-chart></app-page-history-scheduling-scheme-chart>
    </div>
  </div>
  <div style="flex: none; width: 220px; padding: 4px;">
    <div class="group-box" style="height: 380px;">
      <app-page-history-scheduling-scheme-tree></app-page-history-scheduling-scheme-tree>
    </div>
  </div>
</div>
<!--  -->
