<div style="padding:4px;">
  <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="small">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
</div>
<!--  -->
<div class="table GRAY">
  <table>
    <thead>
      <tr>
        <th>名称</th>
        <th>状态</th>
        <th>开度</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="center"><a (click)="itemClick(1);"><i nz-icon nzType="environment"
              nzTheme="outline"></i>&nbsp;<span>闸门闸门</span></a></td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
      <tr>
        <td align="center">闸门闸门</td>
        <td align="center">状态</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
