<!--  -->
<app-page-assessment-analysis-setting-form></app-page-assessment-analysis-setting-form>
<!--  -->
<nz-divider nzText="查询结果" nzOrientation="left"></nz-divider>
<!--  -->
<div class="flex-row">
  <div>
    <app-page-assessment-analysis-setting-grid></app-page-assessment-analysis-setting-grid>
  </div>
  <div style="flex: none; width: 220px; padding: 4px;">
    <div class="group-box" style="height: 340px;">
      <app-page-assessment-analysis-setting-tree></app-page-assessment-analysis-setting-tree>
    </div>
  </div>
</div>
<!--  -->
