<nz-tabset>
  <nz-tab nzTitle="概况">
    <div class="scroll" style="height: 320px; border: 1px solid #f1f1f1; margin-bottom: 10px;">
      <p>
        龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省。
      </p>
      <p>
        龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省。
      </p>
      <p>
        龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省。
      </p>
      <p>
        龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位工程位于湖北省，龙背湾水电站工程位于湖北省，龙背湾水电站工程位于湖北省。
      </p>
    </div>
    <app-swiper style="min-height: 64px; display: block;" [dataset]="pics" [slidesPerView]="3" [showNavigation]="true"
      (onItemClick)="swiperChange($event)">
    </app-swiper>
  </nz-tab>
  <nz-tab nzTitle="特性">
    <div class="table GRAY">
      <table>
        <tr>
          <th align="left">站码</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">工程名称</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">工程编码</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">开始蓄水年份</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">开始蓄水月份</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">校核洪水位</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">校核库容</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">设计洪水位</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">设计库容</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">正常高水位</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">正常库容</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">死水位</th>
          <td align="center"></td>
        </tr>
        <tr>
          <th align="left">死库容</th>
          <td align="center"></td>
        </tr>
        <!-- <tr>
          <th align="left">水库编码</th>
          <td align="center">1234567890</td>
        </tr>
        <tr>
          <th align="left">水库名称</th>
          <td align="center">水库水库</td>
        </tr>
        <tr>
          <th align="left">面积(<font class="m3">m</font>/s)</th>
          <td align="center">433.45</td>
        </tr>
        <tr>
          <th align="left">多年平均流量(<font class="m3">m</font>/s)</th>
          <td align="center">23.67</td>
        </tr>
        <tr>
          <th align="left">正常蓄水位(m)</th>
          <td align="center">25.22</td>
        </tr>
        <tr>
          <th align="left">最大水头(m)</th>
          <td align="center">23.12</td>
        </tr>
        <tr>
          <th align="left">设计洪水位(m)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">较核洪水位(m)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">总库容(<font class="m3">am</font>/s)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">调节库容(<font class="m3">am</font>/s)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">防洪库容(<font class="m3">am</font>/s)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">装机容量(MW)</th>
          <td align="center">180</td>
        </tr>
        <tr>
          <th align="left">保证出力(MW)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">多年平均发电量(akW/h)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">年利用小时(h)</th>
          <td align="center">32.18</td>
        </tr>
        <tr>
          <th align="left">调节性能</th>
          <td align="center">多年调节</td>
        </tr>
        <tr>
          <th align="left">建设情况</th>
          <td align="center">已建</td>
        </tr> -->
      </table>
    </div>
  </nz-tab>
  <nz-tab nzTitle="库容曲线">
    Content of Tab Pane 3
  </nz-tab>
  <nz-tab nzTitle="泄流曲线">
    Content of Tab Pane 3
  </nz-tab>
</nz-tabset>
<!-- <nz-collapse>
  <nz-collapse-panel nzHeader="站点属性" [nzActive]="true">

  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="水位雨量过程线">
    bbb
  </nz-collapse-panel>
  <nz-collapse-panel nzHeader="视频监控" [nzActive]="true">
    <app-camera [dataset]="cameraList" (onItemClick)="cameraPlay($event)"></app-camera>
  </nz-collapse-panel>
</nz-collapse> -->

<app-fix-panel *ngIf="isShow" (onClose)="isShow=false;" title=" " [isLock]="true" mode="BLACK"
  style="top:0; left: 0; height: 100%; padding: 50px; width: 100%; background-color: rgba(0, 0, 0, .85);">
  <app-swiper style="height: 100%; display: block;" [dataset]="pics" [showPagination]="true" [showNavigation]="true">
  </app-swiper>
</app-fix-panel>
